.index-bg, .feature-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgb(0, 0, 0)),
        url("/Zest/resources/bg/wallhaven-2eg5ky.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.feature-bg{
    filter: blur(4px);
/*     opacity: 0.6; */
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%; 
    z-index: -90;
}

.text-primary{
    color: #38040e !important;
}

h6.text-center, #show_completed_tasks, .modifiable{
    color: #ff8c64 !important;
    text-shadow: 1px 1px 3px #000000;
} 

.text-muted{
    color: #FFFFFE !important;
}

.border-primary{
    border-color: #38040e !important;
}

.btn-primary{
    background-color: #38040e;
    border-color: #38040e;
}

.btn-primary:hover{
    background-color: #F48C06;
    border-color: #F48C06;
}

.btn-primary:focus{
    background-color: #e85d04;
    border-color: #e85d04;
}

.btn-primary:active{
    background-color: #dc2f02 !important;
    border-color: #dc2f02 !important;
    box-shadow: 0 0 0 0.2rem #38040e !important;
}


.reminderHolder ul > li {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}