.index-bg, .feature-bg {
    background-image: url("/cmsc128/resources/bg/sunset.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body{
    background-color: rgb(0,0,0);
}
.feature-bg{
    filter: blur(4px);
    opacity: 0.6;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%; 
    z-index: -90;
}

.applink {
    background-color: rgba(89, 38, 19, 0.8);
    color: #f8f9fa;
}

.reminderHolder ul > li {
    background-color: rgba(255, 204, 51, 0.8);
    color: black;
}

.profileHolder {
    background-color: rgba(89, 38, 19, 0.8);
    color: #f8f9fa;
}
