*{
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}

body{
    padding:0;
    margin:0
}

#notfound{
    position:relative;
    height:100vh
}

#notfound .notfound{
    position:absolute;
    left:50%;
    top:50%;
    -webkit-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%)
}

.notfound{
    max-width:560px;
    width:100%;
    padding-left:160px;
    line-height:1.1
}

.small-icon{
    position:absolute;
    left:0;
    top: 0;
    bottom: 0;
    display:inline-block;
    width:140px !important;
    height:140px !important;
    background-image:url("resources/icons/sad-icon.png");
    background-size:cover;
}

.notfound .notfound-content{
    left:0;
    top: 0;
    bottom: 0;
    content:'';
    position:absolute;
    width:140px;
    height:140px;
    -webkit-transform:scale(2.4);
    -ms-transform:scale(2.4);
    transform:scale(2.4);
    border-radius:50%;
    background-color:#f2f5f8;
    z-index:-1;
}

.notfound h2{
    font-family:nunito,sans-serif;
    font-size:21px;
    font-weight:400;
    margin:0;
    text-transform:uppercase;
    color:#151723
}

.notfound p{
    font-family:nunito,sans-serif;
    color:#999fa5;
    font-weight:400
}

.notfound a{
    font-family:nunito,sans-serif;
    display:inline-block;
    font-weight:700;
    border-radius:40px;
    text-decoration:none;
    color:#388dbc
}

@media only screen and (max-width:767px){
    .notfound .notfound-404{
        width:110px;
        height:110px
    }
    .notfound{
        padding-left:15px;
        padding-right:15px;
        padding-top:110px
    }
}