/* index bg */
.index-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgb(0, 0, 0)),
        url("/resources/bg/home-default.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.landing-bg{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgb(0, 0, 0)),
        url("/resources/bg/default.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.help-bg {
    background-color: rgba(10, 10, 0, 0.2);
}

.applink {
    border-radius: 1rem !important;
}

.text-shadow{
    text-shadow: 2px 2px 8px #000000;
}

.rounded-all-1rem{
    border-radius: 1rem !important;
}

.carousel-item{
    max-height: 50%;
}