.title {
    font-family: "Heavitas";
    font-size: 6em;
    src: local("Heavitas"), url("/fonts/Heavitas.ttf");
}

/* login, signup css */
.page-center {
    height: 100vh;
    align-items: center;
}
.login-cover {
    background-image: url("/resources/zest-cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 1rem !important;
    border-bottom-left-radius: 1rem !important;
}

.form-box {
    background-color: #ffba33;
    padding: 0px 0px 0px 0px !important;
    border-radius: 1rem !important;
}

.signup-head {
    background-color: white;
    padding: 20px 20px 20px 20px;
    margin: 40px 20px 0px 20px;
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
}

.form-head {
    background-color: white;
    padding: 20px 20px 20px 20px;
    margin: 70px 20px 0px 20px;
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
}

.form-inner {
    background-color: white;
    padding: 30px 50px 30px 50px !important;
    margin: -5px 20px 20px 20px;
    border-bottom-left-radius: 1rem !important;
    border-bottom-right-radius: 1rem !important;
}

.form-links {
    margin: 20px 20px 60px 20px;
}

.signup-links {
    margin: 20px 20px 40px 20px;
}

/*help css*/
.helpHolder {
    background-color: rgb(25, 25, 25, 0.6);
    color: black;
    text-align: center;
    min-height: 100px;
    min-width: 100px;
    padding: 20px 20px 0px 20px;
    border-radius: 1rem !important;
}

.help-banner {
    position: relative;
    text-align: center;
    background-image: url("/resources/help/help-banner.jpg");
    background-size: cover;
    height: 20rem;
    border-radius: 1rem !important;
   
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.helpHeader {
    color: white;
    font-size: 60px;
    text-shadow: 5px 5px 4px #000000;
}

.helpContent {
    background-color: rgb(239, 253, 95);
    border-color: rgb(239, 253, 95);
}

.helpTitle {
    background-color: inherit;
    color: rgb(239, 253, 95) !important;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    padding: 0px;
    transition: 0.3s;
}

.helpTitle a:hover {
    background-color: rgb(239, 253, 95) !important;
    border-color: rgb(239, 253, 95) !important;
    color: black !important;
}

.helpText {
    font-size: 16px;
    background-color: inherit;
    text-align: justify;
    padding: 0px 20px 0px 20px;
}

.helpFormText {
    background-color: black;
    border-color: black;
    color: rgb(239, 253, 95);
}

.helpLink, .helpLink:active, .helpLink:visited {
    color: rgb(255, 140, 0);
}

.helpLink:hover {
    color: rgb(135, 155, 12);
}

.with-arrow .nav-link {
    background-color: inherit;
    color: rgb(239, 253, 95) !important;
}

.with-arrow .nav-link.active {
    background-color: black !important;
    color: rgb(239, 253, 95) !important;
    border-color: black !important;
    position: relative;
}

.with-arrow .nav-link.active::after {
    content: "";
    border-color: inherit;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid black;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}
