body{
	background-image: url("/cmsc128/resources/ricardo-gomez-angel-5OxgiLq33KM-unsplash.jpg");
	background-size: cover; 
	background-repeat: no-repeat;
}
#rightbox,
{
	display: flex;
	min-height: 100vh;
	align-items: center;
}

#time h1
{
	font-size: 60px;
}

.innerRight
{
	margin-top: 10vh;
	text-align: center;
	background-color: rgb(0,0,0,0.5);
	padding: 50px 50px 50px 50px;
	color: white;
}

#leftbox
{
	display: flex;
	min-height: 90vh;
	align-items: center;
}

.innerLeft
{
	text-align: center;
	padding: 50px 50px 50px 50px;

}

.logo
{
	width: 30vh;
}

.iconholder
{
	background-color: rgb(255,255,255,0.8);
	text-align: center;
	min-height: 15vh;
	min-width: 15vh;
	padding: 15px 15px 15px 15px;
}

.appIcon
{
	width: 10vh;
}

#clockHeader
{
	margin-top: 10vh;
	text-align: center;
	margin-bottom: 10vh;
}