.title {
    font-family: "Heavitas";
    font-size: 6em;
    src: local("Heavitas"), url("/cmsc128/resources/fonts/Heavitas.ttf");
}

/* login, signup css */
.page-center {
    height: 100vh;
    align-items: center;
}
.login-cover {
    background-image: url("/cmsc128/resources/erik-eastman-7jSRJZJSvy4-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.form-box {
    background-color: #ffba33;
    padding: 0px 0px 0px 0px !important;
}
.signup-head {
    background-color: white;
    padding: 20px 20px 20px 20px;
    margin: 40px 20px 0px 20px;
}

.form-head {
    background-color: white;
    padding: 20px 20px 20px 20px;
    margin: 70px 20px 0px 20px;
}
.form-inner {
    background-color: white;
    padding: 30px 50px 30px 50px !important;
    margin: -5px 20px 20px 20px;
}

.form-links {
    margin: 20px 20px 60px 20px;
}

.signup-links {
    margin: 20px 20px 40px 20px;
}

/*help css*/

.helpHolder {
    background-color: rgb(255, 255, 255, 0.8);
    color: black;
    text-align: center;
    min-height: 100px;
    min-width: 100px;
    padding: 20px 20px 0px 20px;
}

.helpPic {
    width: 100%;
    max-height: 100%;
}

.helpContent {
    background-color: white;
}

.helpTitle {
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    padding: 0px;
    transition: 0.3s;
}

.helpTitle a:hover {
    background-color: white;
    color: rgb(2, 117, 216);
}

.helpText {
    font-size: 16px;
    background-color: inherit;
    text-align: justify;
    padding: 0px 20px 0px 20px;
}

.with-arrow .nav-link.active {
    position: relative;
}

.with-arrow .nav-link.active::after {
    content: "";
    border-color: inherit;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #2b90d9;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}
