.index-bg{
	background-image: url("/cmsc128/resources/bg/sunset.jpg");
	background-size: cover; 
	background-repeat: no-repeat;
}

.iconholder
{
	background-color: rgb(77,31,8,0.8);
	font-weight: bold;
	color: white;
	text-align: center;
	min-height: 15vh;
	min-width: 15vh;
	padding: 15px 15px 15px 15px;
}

.appIcon
{
	filter: invert(100%);
    -webkit-filter: invert(100%);
}

.reminderholder
{
	background-color: rgb(77,31,8,0.8);
	color: white;
	width: 450px;
	min-height: 15vh;
	min-width: 15vh;
	padding: 15px 15px 15px 15px;
}

.notasksdue
{
	font-size: 16px;
	color: black;
	font-style: italic;
	text-align: center;
}

a.remind{
	color: white;
}

a.remind:hover{
	color: black;
}

.profileHolder
{
	background-color: rgb(77,31,8,0.8);
	font-weight: bold;
	color: white;
	text-align: center;
	min-height: 100px;
	min-width: 100px;
	padding: 15px 15px 15px 15px;
}

.profilePic
{
	max-width: 50%;
	max-height: 50%;
	border: 5px solid;
	border-color: white;
}

.edit, .edit:active, .edit:focus
{
	background-color: rgb(38,25,9);
	border-color: rgb(38,25,9);
	color: white;
	box-shadow: none;
}

.edit:hover
{
	background-color: rgb(255,204,51);
	border-color: rgb(255,204,51);
	color: black;
}