.index-bg, .feature-bg {
    background-image: url("/resources/bg/beach.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body{
    background-color: black;
}


.feature-bg{
    filter: blur(4px);
    opacity: 0.6;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%; 
    z-index: -90;
}

h6.text-center, #show_completed_tasks, .modifiable{
    color: #a8dadc !important;
    text-shadow: 1px 1px 2px #000814;
}


.text-muted{
    color:  #ededed !important;
}

.applink {
    background-color: rgba(0, 204, 255, 0.8);
    color: black;
}

.text-light {
    color: rgb(255, 230, 255) !important;
}

.reminderHolder ul > li {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.profileHolder {
    background-color: rgba(0, 204, 255, 0.8);
    color: black;
}
