.index-bg, .feature-bg {
    background-image: url("/resources/bg/study.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body{
    background-color: rgb(0,0,0);
}
.feature-bg{
    filter: blur(4px);
    opacity: 0.8;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%; 
    z-index: -90;
}

.text-primary{
    color: #faa317 !important;
}
.modifiable, #show_completed_tasks, h6.text-center{
    color: #faa317 !important;
    text-shadow: 1px 1px 2px #000000;
}

.text-muted{
    color:  #efefef !important;
}

.border-primary{
    border-color: #faa317 !important;
}

.btn-primary{
    background-color: #faa307;
    border-color: #faa307;
}

.btn-primary:hover{
    background-color: #F48C06;
    border-color: #F48C06;
}

.btn-primary:focus{
    background-color: #e85d04;
    border-color: #e85d04;
}

.btn-primary:active{
    background-color: #dc2f02 !important;
    border-color: #dc2f02 !important;
    box-shadow: 0 0 0 0.2rem #faa307 !important;
}

.applink {
    background-color: rgba(0, 0, 0, 0.8);
    color: #f8f9fa;
}

.reminderHolder li {
    background-color: rgb(255, 255, 255, 0.8);
    color: black;
}

.profileHolder {
    background-color: rgb(0, 0, 0, 0.8);
    color: #f8f9fa;
}
